#include "windows.h"

1 DIALOGEX DISCARDABLE  0,0, 150,50
STYLE DS_SETFONT | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "WLDialogBox1 sample"
FONT 8, "MS Shell Dlg"
BEGIN
	DEFPUSHBUTTON "&Bye1",IDCANCEL,7,4,50,14,WS_TABSTOP
END
