#include "windows.h"

1 DIALOGEX DISCARDABLE  0, 0, 150,50
STYLE DS_SHELLFONT | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CLASS "WLDialog"
 CAPTION "WLDialogBox2 sample"
FONT 8, "MS Shell Dlg"
BEGIN
    DEFPUSHBUTTON "&Bye2", IDCANCEL, 7,4,50,14, WS_TABSTOP
END