#include "iversion.h"

1 VERSIONINFO
FileVersion    DigClock2_VMAJOR, DigClock2_VMINOR, DigClock2_VPATCH, DigClock2_VTAIL
ProductVersion DigClock2_VMAJOR, DigClock2_VMINOR, DigClock2_VPATCH, DigClock2_VTAIL
{
    BLOCK "StringFileInfo"
    {
        BLOCK "040904E4"
        //language ID = U.S. English, char set = Windows, Multilingual
        {
            VALUE "CompanyName", "Public Domain"
            VALUE "ProductName",     DigClock2_NAME
            VALUE "FileDescription", DigClock2_NAME
            VALUE "FileVersion",    DigClock2_VMAJORs "." DigClock2_VMINORs "." DigClock2_VPATCHs
            VALUE "ProductVersion",    DigClock2_VMAJORs "." DigClock2_VMINORs "." DigClock2_VPATCHs
            VALUE "LegalCopyright",    "Public domain"
            VALUE "OriginalFilename" , DigClock2_NAME ".exe"
            VALUE "InternalName", DigClock2_NAME ".exe"
            VALUE "Comments","Presented by public domain"
        }
    }

    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x0409, 1252
    }
}
